body {
    margin: 0;
    padding: 0;
    background-image: url('https://images5.alphacoders.com/133/1339874.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: left;
}

.container {
    background-color: #0619387b;
    margin-left: 15vh;
    backdrop-filter: blur(10px);
    padding-top: 19vh;
    padding-left: 8vh;
    padding-bottom: 20vh;
    padding-right: 8vh;
    border: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    height: 20vh;
    border-top-right-radius: 15px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 15px;
}

.login {
    margin-top: -100px;
}

.inside {
    background-color: #a1aae8;
    border: 1px solid black;
    font-size: large;
    border-radius: 5px;
    border-top-right-radius: none;
    padding: 15px;
    margin: 1.2vh;
    width: 25vh;
}

.inside::placeholder {
    color: aliceblue;
}

@keyframes slideLeft {
    from {
        transform: rotateX(20deg); 
    }
    to {
        transform: rotateX(100deg);
    }
}

.inside ::placeholder:hover {
    background-color: #4E65FF;
}

.topic {
    font-size: 3vh;
    margin-bottom: 3%;
    font-family: 'Salsa', cursive;
    color: rgb(244, 119, 120);
    animation-name: slideLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
}

.topic:hover {
    transform: scale(1.1); /* Add a hover effect, e.g., scale */
}

#btn {
    background: linear-gradient(to right, #4E65FF, #92EFFD);
    font-size: 1.8vh;
    text-align: center;
    margin-left: 7vh;
    padding: 12px;
    width: 15vh;
    border: none;
    border-radius: 15px;
    margin-top: 1vh;
    transition: transform 0.5s ease;
}

#btn:hover {
    transform: translateY(-5px);
    background: linear-gradient(to right, #4E65FF, #4E65FF);
}

.signup {
    margin-top: 30px;
    text-align: center;
    font-size: large;
    color: #92EFFD;
}

.signup a {
    color: aliceblue;
}

.signup a:hover {
    color: red;
}

@media (max-width: 500px) {
    .container {
        margin-left: 2vw;
    }

    .inside {
        width: auto;
        height: inherit;
    }

    #btn {
        width: 100%;
        margin-left: 0;
    }

    body {
        justify-content: center;
        height: 108vh;
    }
}
